In [7]:
import pandas as pd

In [9]:
ijr = pd.read_csv("IJR.csv")
mdy = pd.read_csv("MDY.csv")
spy = pd.read_csv("spy.csv")

In [10]:
ijr.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2015-01-02  57.255001  57.445000  56.060001  56.610001  52.813873  4261200
1  2015-01-05  56.230000  56.430000  55.500000  55.744999  52.006870  3445400
2  2015-01-06  55.875000  55.900002  54.410000  54.814999  51.139244  5321000
3  2015-01-07  55.299999  55.384998  54.860001  55.384998  51.671017  3437000
4  2015-01-08  55.740002  56.410000  55.740002  56.355000  52.575966  2663400

In [11]:
mdy.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-02,265.279999,265.829987,261.670013,263.549988,246.707321,1532700
1,2015-01-05,261.899994,262.899994,258.980011,259.649994,243.056564,1108500
2,2015-01-06,259.959991,260.309998,255.320007,256.609985,240.210892,2167800
3,2015-01-07,258.720001,260.209991,257.700012,260.079987,243.459091,1278800
4,2015-01-08,261.910004,264.420013,261.890015,264.109985,247.231613,3690500

In [12]:
spy.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-01-02,206.380005,206.880005,204.179993,205.429993,186.159332,121465900
1,2015-01-05,204.169998,204.369995,201.350006,201.720001,182.797379,169632600
2,2015-01-06,202.089996,202.720001,198.860001,199.820007,181.075607,209151400
3,2015-01-07,201.419998,202.720001,200.880005,202.309998,183.332016,125346700
4,2015-01-08,204.009995,206.160004,203.990005,205.899994,186.585236,147217800

In [13]:
ijr["change"] = ijr.Close - ijr.Open
mdy["change"] = mdy.Close - mdy.Open
spy["change"] = spy.Close - spy.Open

In [14]:
ijr.rename(columns={"Date":"date", "Open":"open", "High":"high", "Low":"low", "Close":"close", "Adj Close":"adj_close", "Volume":"volume"})
mdy.rename(columns={"Date":"date", "Open":"open", "High":"high", "Low":"low", "Close":"close", "Adj Close":"adj_close", "Volume":"volume"})
spy.rename(columns={"Date":"date", "Open":"open", "High":"high", "Low":"low", "Close":"close", "Adj Close":"adj_close", "Volume":"volume"})

,date,open,high,low,close,adj_close,volume,change
0,2015-01-02,206.380005,206.880005,204.179993,205.429993,186.159332,121465900,-0.950012
1,2015-01-05,204.169998,204.369995,201.350006,201.720001,182.797379,169632600,-2.449997
2,2015-01-06,202.089996,202.720001,198.860001,199.820007,181.075607,209151400,-2.269989
3,2015-01-07,201.419998,202.720001,200.880005,202.309998,183.332016,125346700,0.890000
4,2015-01-08,204.009995,206.160004,203.990005,205.899994,186.585236,147217800,1.889999
5,2015-01-09,206.399994,206.419998,203.509995,204.250000,185.090027,158567300,-2.149994
6,2015-01-12,204.410004,204.600006,201.919998,202.649994,183.640121,144396100,-1.760010
7,2015-01-13,204.119995,205.479996,200.509995,202.080002,183.123596,214553300,-2.039993
8,2015-01-14,199.649994,201.100006,198.570007,200.860001,182.018036,192991100,1.210007
9,2015-01-15,201.630005,202.009995,198.880005,199.020004,180.350677,176613900,-2.610001
10,2015-01-16,198.770004,201.820007,198.550003,201.630005,182.715820,211879600,2.860001
11,2015-01-20,202.399994,202.720001,200.169998,202.059998,183.105469,130991100,-0.339996
12,2015-01-21,201.500000,203.660004,200.940002,203.080002,184.029800,122942700,1.580002
13,2015-01-22,203.990005,206.259995,202.330002,206.100006,186.766479,174356000,2.110001
14,2015-01-23,205.789993,206.100006,204.809998,204.970001,185.742508,117516800,-0.819992
15,2015-01-26,204.710007,205.559998,203.850006,205.449997,186.177475,92009700,0.739990
16,2015-01-27,202.970001,204.119995,201.740005,202.740005,183.721680,134044600,-0.229996
17,2015-01-28,204.169998,204.289993,199.910004,200.139999,181.365585,168514300,-4.029999
18,2015-01-29,200.380005,202.300003,198.679993,201.990005,183.042038,173585400,1.610000
19,2015-01-30,200.570007,202.169998,199.130005,199.449997,180.740311,197729700,-1.120010
20,2015-02-02,200.050003,202.029999,197.860001,201.919998,182.978622,163107000,1.869995
21,2015-02-03,203.000000,204.850006,202.550003,204.839996,185.624680,124212900,1.839996
22,2015-02-04,203.919998,205.380005,203.509995,204.059998,184.917847,134306700,0.140000
23,2015-02-05,204.860001,206.300003,204.770004,206.119995,186.784622,97953200,1.259994
24,2015-02-06,206.559998,207.240005,204.919998,205.550003,186.268112,125672000,-1.009995
25,2015-02-09,204.770004,205.639999,204.139999,204.630005,185.434402,87219000,-0.139999
26,2015-02-10,205.880005,207.119995,204.679993,206.809998,187.409882,96164200,0.929993
27,2015-02-11,206.610001,207.449997,205.830002,206.929993,187.518646,91087800,0.319992
28,2015-02-12,207.889999,208.990005,206.970001,208.919998,189.321930,97545900,1.029999
29,2015-02-13,209.070007,209.839996,208.759995,209.779999,190.101303,93670400,0.709992
...,...,...,...,...,...,...,...,...
1220,2019-11-06,307.029999,307.399994,306.059998,307.100006,305.597534,46487100,0.070007
1221,2019-11-07,308.570007,309.649994,307.660004,308.179993,306.672241,54272300,-0.390014
1222,2019-11-08,307.799988,309.000000,307.029999,308.940002,307.428528,49032100,1.140014
1223,2019-11-11,307.420013,308.540009,307.269989,308.350006,306.841400,35797300,0.929993
1224,2019-11-12,308.750000,309.989990,308.149994,309.000000,307.488220,46484600,0.250000
1225,2019-11-13,307.910004,309.540009,307.660004,309.100006,307.587738,53917700,1.190002
1226,2019-11-14,308.790009,309.640015,308.089996,309.549988,308.035522,51219900,0.759979
1227,2019-11-15,311.019989,311.839996,310.260010,311.790009,310.264587,62023600,0.770020
1228,2019-11-18,311.529999,312.279999,311.029999,312.019989,310.493439,49228000,0.489990
1229,2019-11-19,312.679993,312.690002,311.220001,311.929993,310.403900,67804700,-0.750000
1230,2019-11-20,311.279999,311.850006,309.059998,310.769989,309.249542,79406200,-0.510010
1231,2019-11-21,310.890015,311.010010,309.390015,310.269989,308.752014,54664700,-0.620026
1232,2019-11-22,311.089996,311.239990,309.850006,310.959991,309.438629,44850200,-0.130005
1233,2019-11-25,311.980011,313.369995,311.980011,313.369995,311.836853,48647200,1.389984
1234,2019-11-26,313.410004,314.279999,313.059998,314.079987,312.543365,37569000,0.669983
1235,2019-11-27,314.609985,315.480011,314.369995,315.480011,313.936523,44444600,0.870026
1236,2019-11-29,314.859985,315.130005,314.059998,314.309998,312.772247,36592700,-0.549987
1237,2019-12-02,314.589996,314.660004,311.170013,311.640015,310.115326,75767800,-2.949981
1238,2019-12-03,308.649994,309.640015,307.130005,309.549988,308.035522,73941700,0.899994
1239,2019-12-04,310.700012,312.119995,310.320007,311.459991,309.936188,49080000,0.759979
1240,2019-12-05,312.230011,312.250000,310.579987,312.019989,310.493439,40709000,-0.210022
1241,2019-12-06,314.119995,315.309998,314.109985,314.869995,313.329498,48927000,0.750000
1242,2019-12-09,314.440002,315.179993,313.799988,313.880005,312.344360,34838500,-0.559997
1243,2019-12-10,313.820007,314.549988,312.809998,313.529999,311.996063,52649800,-0.290008
1244,2019-12-11,314.029999,314.700012,313.440002,314.420013,312.881714,53429100,0.390014
1245,2019-12-12,314.429993,317.989990,314.170013,317.130005,315.578461,96389600,2.700012
1246,2019-12-13,316.869995,318.670013,316.019989,317.320007,315.767517,81503900,0.450012
1247,2019-12-16,319.220001,320.149994,317.250000,319.500000,317.936859,82749700,0.279999
1248,2019-12-17,319.920013,320.250000,319.480011,319.570007,318.006531,61097700,-0.350006
1249,2019-12-18,320.000000,320.250000,319.529999,319.589996,318.026398,48133000,-0.410004

In [15]:
ijr.to_csv("cleaned_ijr.csv")
mdy.to_csv("cleaned_mdy.csv")
spy.to_csv("cleaned_spy.csv")